body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.par1 {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.zag3 {
    font-size: 36px;
    text-align: center;
}
.zag4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}
hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header_main {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.top_info {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 42px;
}
.main_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/illustration_top.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;
}
.zag1_head {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}
.par1_head {
    width: 425px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.but_top {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 71px;
}

.main_content {
    padding-top: 64px;
}
.zag3_content {
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.main_art {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.article_1 {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.art_img {
    align-self: center;
    margin-bottom: 51px;
}
.zag4_art {
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.par1_art {
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.art_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-top: 30px;
}
.article_1 a::after {
    content: url(img/arrow.svg);
    display: inline-block;
    margin-left: 24px;
    vertical-align: text-top;
}
.zag3_add {
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.par1_add {
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 64px;
}
.project_item {
    position: relative;
    flex-grow: 1;
}
.pro_item_mar {
    margin-right: 32px;
}
.project_img { 
    width: 100%;
}
.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.pro_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.pro_text2 {
    font-size: 28px;
    line-height: 46px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.footer {
    background: #316099;
    margin-top: 112px;
}
.main_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information {  
    width: 495px;
}
.zag3_footer {
    width: 70%;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-top: 91px;
    text-align: left;
    font-weight: normal;
}
.par1_footer {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-top: 32px;
    padding-bottom: 96px;
}
.but_footer {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    padding: 15px 80px;
    display: inline-block;
}
.contacts_info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style: none;
    margin-top: 64px;
}
.info_li {
    flex-grow: 1;
    flex-basis: 33.3333%;
    margin-right: 32px;
    display: flex;
}
.contacts_info li:first-child:before {
    content:"A.";
    display: block;
    margin-right: 19px;
}
.contacts_info li:nth-child(2n):before {
    content:"T.";
    display: block;
    margin-right: 19px;
}
.contacts_info li:last-child:before {
    content:"E.";
    display: block;
    margin-right: 19px;
}
.copyrigths {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding-top: 64px;
    padding-bottom: 64px;
}

/* страница "контакты" */

.bk_conts {
    background-image: url(img/illustration_contacts.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 32px;
}
.zag2_head {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.par1_cont {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin: 0 auto;
    width: 75%;
    margin-top: 32px;
    align-self: center;
}
.contacts {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    margin-bottom: 96px;
} 
.main_contacts {
    display: flex;
    flex-direction: column;
    width: 495px;
    flex-grow: 1;
    flex-basis: 50%;
}
.feedback {
    width: 540px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 55px 55px ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 50%;
}
.inp1, .inp2 {
    width: 100%;
    height: 72px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 32px;
}
.inp2 {
    height: 144px;
}
.inp1::placeholder, .inp2::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.5;
    padding-left: 42px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.inp2::placeholder {
    padding-top: 21px;
}
.label1 {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
}
.but1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 100%;
    padding: 24px;
    outline: none;
    border-width: 0;
}
.cont_img {
    width: 75%;
    margin-bottom: 56px;
    align-self: center;
}
.par1_mc, .phone_mc, .post_mc {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-top: 24px;
    margin-bottom: 40px;
}
.phone_mc {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.phone_mc li:before {
    content: url(img/phone.svg);
    display: inline-block;
    margin-right: 19px;

}
.phone_mc li, .post_mc li {
    margin-bottom: 16px;
}
.post_mc {
    font-weight: normal;
    letter-spacing: 0.05em;
    list-style-type: none;
}
.post_mc a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;    
}
.post_mc li:first-child::before {
    content: url(img/site.svg);
    display: inline-block;
    margin-right: 19px;
}
.post_mc li:last-child::before {
    content: url(img/post.svg);
    display: inline-block;
    margin-right: 19px;
}
.zag4_fb {
    margin-bottom: 48px;
}

/* планшет */

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .main_info {
        background-position: right bottom;
    }
    .main_art {
        flex-direction: column;
        align-items: center;
    }
    .article_1 {
        margin-bottom: 32px;
    }
    .contacts_info {
        flex-direction: column;
    }
    .article_1 {
        padding: 26px 30px;
    }
    .main_information {
        padding-left: 92px;
        padding-right: 92px;
    }
    .zag3_footer {
        width: 70%;
        padding-top: 47px;
    }
    .par1_footer {
        width: 70%;
        padding-bottom: 64px;
    }
    .but_footer {
        padding: 3px 30px;
    }
    .addition_information {
        padding-left: 92px;
        padding-right: 92px;
    }
    .contacts_info li {
        margin-bottom: 25px;
    }
    .contacts_info li:first-child:before {
        margin-right: 36px;
    }
    .contacts_info li:nth-child(2n):before {
        margin-right: 36px;
    }
    .contacts_info li:last-child:before {
        margin-right: 36px;
    }
    .contacts {
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px; 
    }
    .maps {
        padding: 0;
    }
    .copyrigths {
        padding-top: 40px;
    }
}

/* смартфон */

@media (max-width: 667px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header_main {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .main_menu {
        padding-top: 24px;
    }
    .main_info {
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: none;
    }
    .main_art {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .zag1_head {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
    }
    .par1_head {
        width: 100%;
        text-align: center;
    }
    .but_top {
        font-size: 12px;
        line-height: 26px;
        padding: 3px 25px;
        margin-top: 32px;
        align-self: center;
    }
    .main_content {
        padding-top: 48px;
    }
    .zag3_content {
        font-size: 24px;
        line-height: 28px;
    }
    .zag3_add {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }
    .par1_add {
        margin-bottom: 82px;
    }
    .par1_art {
        padding-top: 32px;
    }
    .article_1 {
        width: 100%;
    }
    .par1_art {
        width: 100%;
    }
    .pro_text {
        font-size: 16px;
        line-height: 19px;
        top: 64px;
        right: 64px;
    }
    .pro_text2 {
        left: 16px;
    }
    .project_parent {
        flex-direction: column;
        margin-top: 16px;
    }
    .pro_item_mar {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .main_information {
        flex-direction: column;
        align-items: center;
        padding-bottom: 41px;
    }
    .information {
        width: 100%;
    }
    .zag3_footer {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        padding-top: 48px;
        width: 75%;
        margin: 0 auto;
    }
    .par1_footer {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 40px;
    }
    .pro_text {
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 16px;
        right: 16px;
    }
    .pro_text2 {
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 16px;
        left: 16px;
    }
    .main_information {
        padding-left: 16px;
        padding-right: 16px;
    }
    .addition_information {
        padding-left: 16px;
        padding-right: 16px;
    }
    .contacts_info {
        line-height: 19px;
        margin-top: 32px;
    }
    .contacts_info li {
        margin-bottom: 17px;
    }
    .copyrigths {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 32px;
    }
    .zag2_head {
        font-size: 24px;
        line-height: 28px;
    }
    .par1_cont {
        font-size: 16px;
    }
     .main_contacts {
         width: 75%;
     }
     .feedback {
         width: 100%;
         padding: 35px 35px;
     }
     .zag4_fb {
         margin-bottom: 32px;
     }
     .label1 {
         margin-bottom: 0;
     }
     .inp1 {
        height: 46px;
     }
    .inp2 {
        height: 92px;
    }
    .but1 {
        padding: 12px;
    }
    .contacts {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .maps {
        padding: 0;
    }
    .footer {
        margin-top: 64px;
    }
    .zag3_footer {
        padding-top: 18px;
    }
}